$text-color-black: #000000;
$text-color-dark: #727272;
$text-color-light: #FFF;
$text-color-a-btn: #34547A;
$bg-color-grey: #EEEFF1;
$bg-color-light: #F9F9F9;

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $text-color-black;
}
.header {
    background-color: $bg-color-grey;
}
.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}
.header-nav {
    padding: 79px 0 151px 0;
}
.header-nav__list {
    display: flex;
    position: relative;
    .header-nav__item {
        display: flex;
        align-items: center;
        margin-right: 60px;
        margin-left: 25px;
        .header-nav__link {
            color: $text-color-black;
            text-transform: uppercase;
        }
        .header-nav__link_active {
            color: $text-color-a-btn;
            font-weight: 500;
        }
    }
}
.item_homepage::before,
.item_about-author::before,
.item_works::before,
.item_process::before,
.item_contacts::before {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    position: absolute;
}
.item_homepage::before {
    content: "";  
    left: 0px;
    background-image: url(../img/homepage.png);    
}
.item_about-author::before {
    content: "";
    left: 167px;
    background-image: url(../img/about\ author.png);    
}
.item_works::before {
    content: "";
    left: 370px;
    background-image: url(../img/works.png);
}
.item_process::before {
    content: "";
    left: 511px;
    background-image: url(../img/process.png);
}
.item_contacts::before {
    content: "";
    left: 665px;
    background-image: url(../img/contacts.png);
}

.header-content {
    padding-bottom: 141px;
    .header-content__title {
        font-size: 48px;
        font-weight: 500;
        line-height: 79px;
        margin-bottom: 65px;
    }
    .header-content__text {
        color: $text-color-dark;
        line-height: 27px;
    }
    .header-content__btn {
        color: $text-color-light;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }
}
button {
    width: 225px;
    height: 65px;
    background-color: $text-color-a-btn;
    margin-top: 65px;
}
.main {
    background-color: $bg-color-light;
}
.main-box {
    padding: 112px 0 100px 0;
}
.main-desc {
    text-align: center;
    .main-desc__title {
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .main-desc__text {
        color: $text-color-dark;
        line-height: 27px;
    }
}
.main-container,
.footer {
    background-color: $text-color-a-btn;
}
.main-project {
    display: flex;
    justify-content: space-between;
    .main-project__project {
        padding: 100px 0;
        .main-project__desc {
            float: right;
            margin-left: 20px;
            color: $text-color-light; 
            .main-project__number {
                font-size: 21px;
                font-weight: 500;
                margin-top: 2px;
                margin-bottom: 5px;
            }
            .main-project__text {
                line-height: 27px;
            }        
        }
    }
}
.main-box-bottom {
    padding: 100px 0 57px 0;
}
.my-video {
    padding-bottom: 100px;
}
iframe {
    width: 1110px;
    height: 600px;
}
.footer-items {
    padding: 50px 0;
    color: $text-color-light;
    .footer-items__title {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .footer-items__text {
        font-size: 13px;
    }
}
